/* Color Palette? 
Primary Blue: #4B563E
Light Green: #66BB6A

Off white: #F9FAFC
*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #F9FAFC;
  margin:0;
  /* padding: 0 20px 0px 20px; */
}

/* Navigation Logic */
/* Navigation Container */
.navigation {
  padding-top:10px;
  background-color: #4B563E;
  /* box-shadow: 0 0 5px #87CEEB; */
}

/* Brand + Tagline */
.logo-location-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:10px;
  padding:0px 20px;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-content:center;
  justify-content:center;
  padding: 0px 10px;
}

.tagline a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size:1.7em;
  color:#F9FAFC;
}

.tagline p {
  color:#F9FAFC;
}

.current-location {
  display:flex;
  align-content:center;
  justify-content: center;
  gap:2px;
  font-size:14px;
}

.current-location p {
  margin:0;
}

/* Nav Link Styling */
.navlink {
  list-style: none;
  margin: 0 0 0 30px;
  color:white;
}

.navlink a {
  color: #F9FAFC;
  text-decoration: none;
  font-size: 1em;
  padding-right:20px;
}

.navlink select {
  background-color:#4B563E;
  color: white;
  border:none;
  border-bottom: 1px white solid;
  font-weight:bold;
}

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:10px;
}

/* Hero Container */
.hero {
  background-image: url("../images/raymond-eichelberger-U2Bn7nPWJew-unsplash copy.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 80px 20px;
  margin:0px;

}

/* Hero Text Block */
.hero-block {
  background-color: rgba(255, 255, 255, 0.781);
  height: 200px;
  padding:40px 10px;
  box-shadow: 0 0 3px #87CEEB;
}

.block-heading {
  margin: 0;
}

.block-copy {
  margin-top: 5px;
}


.species-form {
  display:flex;
  align-items: center;
  background-color:red;
}

.species-form input {
  border: 0 0 1px 0;
  border-color: #4B563E;
  width:45%;
}

.my-primary-button {
  background-color: #4B563E;
  border-color: #4B563E;
  color:white;
  border-radius:5px;
  padding-right: 5px;
  padding-left: 5px;
}

.my-secondary-button {
  background-color: white;
  border-color: #4B563E;
  color:#4B563E;
  border-radius:5px;
  padding-right: 5px;
  padding-left: 5px;
}

.species-input, .species-input {
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom: 1px solid #4B563E;
  outline:none;
}


.hide-element {
  display:none;
}

/* Content Sections */
#map {
  height:500px;
  width:100%;
}

.marker {
  background-image: url('../images/binsIcon.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.table-container{
  height:500px;
  width:100%;
  overflow-y:auto;
}

.table-divider {
  border-top:2px solid black;
}

.nearby-hotspots-notable-sightings {
  padding-bottom:20px;
  box-shadow: 10px 0 0 0 #4B563E;
  /* background-color: white; */
}

.nearby-hotspots-notable-sightings .table-label, .nearby-hotspots-notable-sightings .hotspots-label {
  text-align: center;
  /* color: #4B563E; */
  border-bottom: 2px solid #4B563E;
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 1.5em;
  text-overflow:ellipsis;
  min-height:30px;
}

/* Footer */
.copyright {
  font-family: "Roboto";
  color: white;
  background-color:#4B563E;
  font-size:10px;
  padding: 50px;
}
