/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */


/* HEADER */
.site-header {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 5px solid #f2ff00;
}

.logo {
  color: #f2ff00;
  font-family: 'Merriweather', serif;
  align-self: center;
  font-size: 32px;
}

/* HEADER > Navigation */
.navigation ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  list-style: none;
  font-size: 20px;
}

.navigation li {
  padding-left: 15px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  text-align:left;
}

.navigation a:hover {
  color:#f2ff00;
}

.featured-nav {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.standard-nav {
  font-family: 'Lato', sans-serif;
}

/* SLOGAN */

.slogan-area h1 {
  background-color: #adadad;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  padding: 20px;
  font-style: italic;

}

.strike-thru {
  text-decoration: line-through;

}

.underline {
  border-bottom: solid 2px #f2ff00;
}


.primary-button {
  display: block;
  padding: 10px 30px;
  text-decoration:none;
  text-transform: uppercase;
  text-align: center;
  font-size:24px;
  color: black;
  font-family: 'Oswald', serif;
  border-radius: 5px;
}


/* Hero Image Area */

.hero-image-area {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg");
  background-position: center;
  background-size: cover;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Lato', sans-serif;
}


/* Floating box */
.hero-image-area > div {
  max-width: 50%;
  width:400px;
  height:250px;
  margin: 30px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hero-image-area > h2 {
  font-weight: bold;
}

.yellow-button {
  background: #f2ff00;
  border-bottom: 2px solid #ffd900;
  margin:10px;
}


/* Actions Grid */
.actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 10px 0px;
  font-family: 'Merriweather', serif
}

.actions-grid > div {
  padding:15px;

}

.grey-button {
  background: #adadad;
  border-bottom: 2px solid #878787;
  margin:0px;

}

.actions-grid h1 {
  font-size: 24px;
}

.actions-grid p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.middle-child {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}


/* Footer */

.site-footer > * {
  background-color: black;
  color: white;
  padding: 15px 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}